<div> 
    <% posts.forEach(post => {%>
        <hi><%= post.titulo %></hi><br>
        <hi><%-post.conteudo%></hi><br>
        <hi><%= post.autor%></hi><br>
        <p class> ___________________________________________</p>
    <% }) %>
</div>
